/* 
Module Rules
    A Module is a more discrete component of the page. It is your navigation bars and your carousels and your dialogs and your widgets and so on. This is the meat of the page. Modules sit inside Layout components. Modules can sometimes sit within other Modules, too. Each Module should be designed to exist as a standalone component. In doing so, the page will be more flexible. If done right, Modules can easily be moved to different parts of the layout without breaking.
    When defining the rule set for a module, avoid using IDs and element selectors, sticking only to class names. A module will likely contain a number of elements and there is likely to be a desire to use descendent or child selectors to target those elements. 
*/

.banner, .summary, .chunk1, .chunk2 {
	margin: 0;
}

.banner {
	border-bottom: 5px solid $black;
	padding-bottom: 100px;
	text-align: right;
	background-color: $red;
}

.banner h1 {
	@include fontSize(60px);
	@media screen and (min-width: $tablet) {
		@include fontSize(80px);
	}
	line-height: 1;
	padding-top: 30px;
	padding-bottom: 0;
	color: $white;
}

.banner h2 {
	color: $yellow;
	@include body-font-regular;
}

.banner, .chunk2, .explanation h3, .explanation p, .participation h3, .participation p, .benefits {
	@media screen and (min-width: $tablet) {
		box-sizing: border-box;
		border-right: 5px solid $black;
	}
}

.summary {
	@media screen and (min-width: $tablet) {
		padding-top: 50px;
	}
	@media screen and (max-width: $tabletmin) {
		border-bottom: 5px solid $black;
	}
}

.preamble {
	box-sizing: border-box;
	border-bottom: 5px solid $black;
}

.chunk2 {
	@media screen and (min-width: $tablet) {
		padding-bottom: 50px;
	}
}

.explanation h3, .explanation p, .participation h3, .participation p, {
	padding-right: 15px;
}

.explanation h3 {
	color: $red;
}

.participation h3 {
	border-top: 5px solid $black;
	@media screen and (min-width: $tablet) {
		box-sizing: border-box;
		border-left: 5px solid $black;
	}
	background-color: $blue;
	color: $yellow;
}

.participation p {
	@media screen and (min-width: $tablet) {
		box-sizing: border-box;
		border-left: 5px solid $black;
	}
	background-color: $blue;
	color: $white;
}

.participation a, .participation a:visited {
	color: $white;
}

.ben-req {
	@media screen and (min-width: $tablet) {
		box-sizing: border-box;
		border-top: 5px solid $black;
	}
}

.benefits {
	@media screen and (min-width: $tablet) {
		padding-bottom: 180px;
	}
	background-color: $black;
	color: $white;
}

.benefits h3 {
	color: $yellow;
}

.requirements, .benefits, .ben-req, .req1, .req2 {
	margin-bottom: 0;
}

.req2 {
	@media screen and (max-width: $tabletmin) {
		box-sizing: border-box;
		border-bottom: 5px solid $black;
	}
}

.footer {
	@media screen and (min-width: $tablet) {
		box-sizing: border-box;
		border-top: 5px solid $black;
	}
	@media screen and (max-width: $tabletmin) {
		box-sizing: border-box;
		border-bottom: 5px solid $black;
	}
}

.links {
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	@media screen and (max-width: $tabletmin) {
		box-sizing: border-box;
		border-bottom: 5px solid $black;
	}
	margin: 0;
}

.links a:last-of-type {
	padding-right: 10px;
}

.contentinfo {
	@media screen and (min-width: $tablet) {
		box-sizing: border-box;
		border-left: 5px solid $black;
	}
	background-color: $yellow;
}

.contentinfo {
	padding: 0;
	margin: 0;
}

aside {
	@media screen and (min-width: $tablet) {
		box-sizing: border-box;
		border-top: 5px solid $black;
	}
}

.design-selection {
	text-align: right;
}

.select, .archives {
	display: none;
}

.design-selection nav {
	padding-right: 10px;
}

.design-selection, .design-archives {
	margin: 0;
}

.design-archives nav, .zen-resources h3, .zen-resources ul {
	@media screen and (max-width: $tabletmin) {
		text-align: right;
		padding-right: 10px;
	}
}

.sidebar {
	margin: 0;
}

.zen-resources {
	@media screen and (max-width: $tabletmin) {
		box-sizing: border-box;
		border-top: 5px solid $black;
	}
	@media screen and (min-width: $tablet) {
		box-sizing: border-box;
		border-left: 5px solid $black;
		padding-bottom: 60px;
	}
	margin: 0;
	padding-left: 10px;
}

.resources {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.design-selection nav ul li:nth-child(1) a, .design-selection nav ul li:nth-child(3) a, .design-selection nav ul li:nth-child(5) a, .design-selection nav ul li:nth-child(7) a {
	color: $red;
}

.design-selection nav ul li:nth-child(2) a, .design-selection nav ul li:nth-child(4) a, .design-selection nav ul li:nth-child(6) a, .design-selection nav ul li:nth-child(8) a {
	color: $blue;
}